@font-face {
    font-family: 'ramenichikaru'; 
    src: url('./fonts/ramenichikaru.otf') format('truetype');
}

@font-face {
    font-family: 'njnaruto'; 
    src: url('./fonts/njnaruto.ttf') format('truetype');
}

/* fundo e fontes principais do corpo */ 
body {
margin: 0;
padding: 0;    
font-family: 'ramenichikaru', sans-serif;
background-color: #fde5a4;
background-image: url(imagens2/pergaminho.webp);
}

/* modificações no cabeçalho */
header {
width: 100%;
height: 180px;
padding: 150px 0;
display: flex;
justify-content: center;
align-items: center;
background-color: #fde5a4;
background-image: url(imagens2/fundodourado.jfif);
background-size: cover;
background-position: center;
}

header img {
width: auto;
max-height: 300px;
}

/* frase que fica em baixo do nome da padaria */
header p {
position: absolute;
top: 65%;
text-align: center;
font-size: 16px;
letter-spacing: 4px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

/* classe para o nome da padaria ficar alinhado */
.nomepadaria {
position: absolute;
left: 50%;
transform: translateX(-50%); 
top: 40%;
transform: translate(-50%, -50%);
text-align: center;
font-size: 18px;
font-family: 'njnaruto';
letter-spacing: 4px;
}

/* modificações na barra de navegação */
nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
z-index: 1000;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 0;
}

nav li{
display: flex;
justify-content: center;
align-items: center;
background-color: darkred;
height: 65px;
width: 350px;
}

nav img {
width: 280px;
height: auto;
}

/* modificações na parte principal do site */
main {
margin-top: 70px;    
padding-left: 22px;
}

table, th, td {
border: 1px solid;
border-collapse: collapse;
padding: 15px;
margin-bottom: 103px;
text-align: center;
}

table {
width: 65%;
}

th {
height: 40px;
background-image: url(imagens2/tabelas/tabelasfundotr.jpg);
color: rgb(255, 150, 150);
text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
letter-spacing: 2px;
}

td {
height: 40px;
background-image: url(imagens2/tabelas/fundotabelatd.jpg);
color: rgb(0, 0, 0);
text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
letter-spacing: 2px;
}

tr:hover{background-color: rgb(255, 170, 72);}

fieldset {
background-image: url(imagens2/campos/img4.jpg);    
background-color: rgb(255, 184, 134);
}

footer {
margin-top: 100px;
background-color: darkred;
}