@font-face {
    font-family: 'ramenichikaru'; 
    src: url('./fonts/ramenichikaru.otf') format('truetype');
}

@font-face {
    font-family: 'njnaruto'; 
    src: url('./fonts/njnaruto.ttf') format('truetype');
}

body {
margin: 0;
padding: 0;    
font-family: 'ramenichikaru', sans-serif;
background-color: #fde5a4;
background-image: url(imagens2/pergaminho.webp);
}


header {
width: 100%;
padding: 0;
display: flex;
justify-content: center;
background-color: #fde5a4;
background-image: url(imagens2/pergaminho.webp);
}

.cabecalhoimovel {
position: sticky;
top: 0;    
}

.logocentralizada {
display: block;
flex-direction: column;
align-items: center;
width: 100%;
height: auto;
}


header img {
display: block;   
width: 100%;
height: auto;
}

.nomepadaria {
position: absolute;
left: 50%;
transform: translateX(-50%); 
top: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-size: 28px;
font-family: 'njnaruto';
letter-spacing: 4px;
}

nav ul {
position: absolute;
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 20px;
left: 50%;
transform: translateX(-50%); 
top: 87%;
transform: translate(-50%, -50%);
text-align: center;
}

a {
color: rgb(255, 255, 255); 
text-decoration: none;
}

a:hover {
color: rgb(46, 138, 34);
}


main {
margin-top: 100px;    
}
